Booking System/.vs/Booking System/FileContentIndex/0eaf1ba7-d67a-4afc-9b39-b5228f555373.vsidx
Booking System/.vs/Booking System/FileContentIndex/54538433-43f5-45fa-af08-79318a45f3e9.vsidx
Booking System/.vs/Booking System/FileContentIndex/7d543196-035b-4977-8e43-1fbd11011284.vsidx
Booking System/.vs/Booking System/v17/Browse.VC.db
Booking System/.vs/Booking System/v17/Browse.VC.db-shm
Booking System/.vs/Booking System/v17/Browse.VC.db-wal
Booking System/.vs/Booking System/v17/Browse.VC.opendb
Booking System/.vs/Booking System/v17/ipch/AutoPCH/358d607d9cd8a928/MAIN.ipch
Booking System/.vs/Booking System/v17/ipch/AutoPCH/e34a2114f96e478d/BOOKINGS.ipch
Booking System/Booking System.sln
Booking System/.vs/Booking System/v17/DocumentLayout.json
Booking System/.vs/Booking System/v17/DocumentLayout.backup.json
Booking System/.vs/Booking System/v17/.suo
Booking System/.vs/Booking System/FileContentIndex/f2eeaed6-4d48-43f0-9005-b1e121c2d000.vsidx
Booking System/.vs/Booking System/FileContentIndex/93e345a6-ba5d-480f-941d-9e69d420a5bb.vsidx
Booking System/.vs/Booking System/FileContentIndex/0a6bc101-200c-4a4b-ae89-498150ba0b87.vsidx
*.tlog
*.idb
Booking System/Booking System/x64/Debug/vc143.pdb
